<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
    <title>Starfazers!</title>
  </head>
  <body>
    <h1>Terms and Conditions</h1>
    <p>This is the boring stuff, but it's important!</p>
    <ul>
      <li>
        All commissioned artwork is intended for personal, non-commercial use.
        You may not sell, redistribute, trade, or otherwise use my art for
        personal gain (monetary or otherwise) without prior written consent.
      </li>
      <li>
        You may not remove my watermark or personal branding from commissioned
        work. The watermark helps protect me from violations of the personal use
        rule above.
      </li>
      <li>
        Reposting my art for PERSONAL use must always include appropriate
        credit. Tag my social media account on the relevant platform, or if not
        available use this website.
      </li>
      <li>
        Refunds and replacements will NOT be granted for completed artwork.
        Progress reports will be provided to ensure that you are happy with the
        work prior to completion.
      </li>
    </ul>
    <p>
        <a href="/index.html">Return home</a>
    </p>
  </body>
</html>
