body {
  text-align: center;
  background-color: lightpink;
  color: purple;
}

section {
  border: 2px solid purple;
  padding: 0 10px;
  margin: auto auto 10px auto;
}

figure {
  background-color: lightblue;
  border-radius: 10%;
}

figcaption {
  color: blue;
}

a {
  color: purple;
}

a:hover {
  color: white;
  background-color: #3a3240;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid black;
  background-color: purple;
  color: lightpink;
}

table tr {
  border: 1px solid lightpink;
}

table th {
  border: 2px solid lightpink;
}

table tr:hover {
    color: white;
    background-color: #3a3240;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
  }

#header-grid {
  display: grid;
  width: 500px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}

.avatar {
  max-width: 200px;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: lavender;
  border-radius: 30px;
}

.comm-img {
  max-width: 40vw;
  border-radius: 10%;
}
